.contact-bar {
    height: 3.125rem;
    width: 100%;
    background-color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
}

.icons i {
    font-size: 0.6rem;
}

.icons span {
    margin-right: 0.5rem;
    background: #fafafa;
    color: #666;
    padding: 0.001rem 0.495rem;
}

.donationBtn {
    background-color: #77c720;
    letter-spacing: 0.02em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    padding: 0.875rem;
    font-weight: 700;
    color: white;
}

.contact-text {
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
    color: white;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.phone i,
.email i {

    color: #77c720
}

@media screen and (max-width:991px) {

    .contact-bar {
        display: none;
    }

}


/*NAV BAR STARS HERE*/
.navBar img {
    height: 48px;
}

.nav-link {
    font-size: 1.00rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #333333;

}


/* Slides */
.slideAll {
    background-size: cover;
    min-height: 34.2rem;
    background-repeat: no-repeat;
    background-position: center;
}

.slide1 {
    background-image: linear-gradient(to left, #07030340, #0a3b02), url(images/slide1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-size: cover;
    min-height: 34.2rem;
    background-repeat: none;
    background-position: center; */

}

.slide1 h2 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    font-weight: 900;
    line-height: 48px;
}

.slide1 h3 {
    color: white;
    font-size: 24;
}

.slide2 {
    background-image: linear-gradient(to left, #07030340, #0a3b02), url(images/slide2.jpg)
        /* background-size: cover;
    min-height: 34.2rem;
    background-repeat: none;
    background-position: ; */


}

.slide3 {
    background-image: linear-gradient(to left, #07030340, #0a3b02), url(images/slide3.jpg)
        /* background-size: cover;
    height: 34.2rem;
    background-repeat: none;
    background-position: center; */

}

@media screen and (max-width:48rem) {
    .slideAll {
        background-size: cover;
        min-height: 15rem;
        background-repeat: no-repeat;
        background-position: center;
    }

}

/* Our Goals */
.goals {
    height: 80vh;
    width: 100%;
    background-color: red;
    padding-top: 6.25rem
}