* {
    margin: 0;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
}

.wrapper {
    /* height: 3.5rem; */
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

.nav-bar-expand {
    display: flex;
}

.hamburger {
    transform: scale(0);
}

.logo-section {
    justify-content: space-between;
}

@media screen and (max-width:776px) {

    .nav-bar-expand {
        transform: scale(0);
    }

    .hamburger {
        transform: scale(1);
        display: flex;
    }

    .logo-section {
        justify-content: center;
    }

}